:root {
  --primary-color: #137fec;
  --second-color: #faa812;

  --background-color: #f6f7f8;
  --header-color: #111827;
  --text-color: #4b5563;

  --border-color: #e5e7eb;

  --gray-color-100: #f3f4f6;
  --gray-color-500: #6b7280;

  --white-color: #ffffff;

  --radius-md: 12px;
  --radius-lg: 20px;

  --shadow-md: 0 10px 25px rgba(15, 23, 42, 0.1);

  --break-pad: 992px;
  --break-mobile: 640px;
}
