.card {
  background: $white;
  border-radius: 1rem;
  padding: $spacing-lg;
  border: 1px solid var(--border-color);

  .card__title {
    font-size: $font-size-xl;
    font-weight: 700;
    color: var(--text-dark);
    margin-bottom: $spacing-md;
  }

  .card__text {
    color: var(--text-light);
    line-height: 1.8;
    font-size: $font-size-base;

    &:not(:last-child) {
      margin-bottom: $spacing-sm;
    }
  }
}
